/* ---Global styles----*/

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyRegular.woff2"),
    url("../fonts/gilroyRegular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyMedium.woff2"),
    url("../fonts/gilroyMedium.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroySemiBold.woff2"),
    url("../fonts/gilroySemiBold.woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyBold.woff2"),
    url("../fonts/gilroyBold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2"),
    url("../fonts/icons.woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg-accent-gray: #F9F1E7;
  --bg-gray: #FCF8F3;
  --bg-light-gray: #e5e5e5;
  --gray-1: #3a3a3a;
  --gray-2: #616161;
  --gray-3: #898989;
  --gray-4: #B0B0B0;
  --gray-5: #d8d8d8;
  --gray-6: #f4f5f7;
  --basic-apricot: #E89F71;
  --accent-blue: #2EC1AC;
  --accent-pink: #E97171;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --icon-blue: #262F56;
  --left-bar-width: 40%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  font-size: 16px;
  font-family: "Gilroy", "Calirbi", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border: none;
  height: 48px;
  font-weight: 600;
  line-height: 1.5em;
  text-decoration: none;
  padding: 12px;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
}

.btn_white {
  background-color: var(--basic-white);
  color: var(--basic-apricot);
}

.btn_red {
  background-color: var(--basic-apricot);
  color: var(--basic-white);
  border: 1px solid var(--basic-apricot);
}

.btn_white:hover {
  background-color: var(--basic-apricot);
  color: var(--basic-white);
}

.btn_red:hover {
  background-color: var(--basic-white);
  color: var(--basic-apricot);
}
/* ---Header----*/

.header {
  position: fixed;
  top: 0;
  min-height: 70px;
  width: 100%;
  z-index: 5;
  display: flex;
}

.header_fill {
  background-color: var(--bg-accent-gray);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  flex-wrap: wrap;

}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 100%;
  margin: 10px 0 10px 0;
}

.logo {
  text-decoration: none;
  color: var(--basic-black);
  font-weight: 700;
}

.header__logo {
  font-size: 24px;
  line-height: 1.2em;
}

.menu__item {
  list-style: none;
  margin: 0 5px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu__link {
  text-decoration: none;
  color: var(--gray-1);
  font-weight: 500;
  transition: color 0.3s ease 0s;
}

.menu__arrow {
  border: none;
  background-color: transparent;
  display: block;
  margin-left: 4px;
  cursor: pointer;
  font-size: 10px;
  transition: all 0.3s ease 0s;
}

.menu__item:hover >.menu__arrow {
  color: var(--basic-apricot);
  transform: rotate(180deg);
}

.menu__sub-list {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  min-width: 120px;
  top: 28px;
  right: 0px;
  background-color: var(--bg-gray);
  border: 1px solid var(--basic-apricot);
  padding: 8px;
  z-index: 5;
  flex: 1 1 100%;
  transition: all 0.5s ease;
}

.menu__item:hover > .menu__sub-list, .menu__sub-list:hover {
  display: block
}

.menu__sub-item {
  list-style: none;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 5px;
  text-align: left;
}

.menu__sub-item:hover {
  color: var(--basic-apricot);
}

.search {
  margin: 0 5px;
  position: relative;
  flex-grow: 1;
}

.search-form {
  width: 20px;
  background-color: transparent;
  border: none;
  display: block;
  font-size: 14px;
  width: 100%;
  height: 45px;
  padding-left: 40px;
  background-color: var(--basic-white);
}

.search-button {
  border: none;
  display: block;
  background-color: transparent;
  padding: 0;
  font-size: 20px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  top: 0;
  right: 0;

  position: absolute;
  top: 12px;
  left: 10px;
}

.search:hover > .search-button{
  color: var(--basic-apricot);
}

.user-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-actions__icon {
  text-decoration: none;
  color: var(--icon-blue);
  font-size: 26px;
  margin: 0 10px;
}

.cart {
  position: relative;
  display: flex;
}

.cart::after {
  content: "5";
  text-align: center;
  background-color: var(--icon-blue);
  border-radius: 50%;
  color: var(--basic-white);
  font-size: 10px;
  position: absolute;
  top: -20%;
  right: 0;
  z-index: 2;
  width: 12px;
  height: 12px;
  display: block;
  font-weight: 300;
}

.cart__list {
  display: none;
  margin: 0;
}

.user-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
}

.avatar__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (min-width: 992px) {
  .header {
    min-height: 125px;
  }
  .header__container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .header__main {
    flex-direction: row;
    max-width: var(--left-bar-width);
    flex-grow: 1;
  }
  .menu__list {
    margin: 0 15px;
  }
  .user-actions {
    flex: 0 0 150px;
  }
  .user-actions__icon {
    margin: 0 5px;
  }
}

/* ---Hero-slider----*/
.page__main-slider {
  background-color: var(--bg-gray);
  padding: 120px 0 0 0;
  overflow: hidden;
}

.page__main-slider::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 30%;
  background-color: var(--bg-accent-gray);
}

.hero-slider__content {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.72);
  margin: 0 0 30px 0;
  z-index: 5;
  backdrop-filter: blur(31px);
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.hero-slider__body {
  overflow: visible;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.hero-slider__title {
  font-size: 38px;
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 1.5em;
}

.hero-slider__text {
  font-size: 18px;
  color: var(--gray-3);
  font-weight: 500;
  margin: 0 0 16px 0;
  flex-grow: 1;
  line-height: 1.5em;
}

.hero-slider__button {
  padding: 24px;
  margin: 20px 0 0 0;
}

.hero-slider__button:active {
  background-color: #db8b5a;
}

.hero-slider__wrapper {
  margin: 0;
  padding: 0;
  overflow: visible;
}

.slider {
  transition: all 0.7s ease-in-out;
  padding: 0;
  margin: 0;
  display: flex;
}

.hero-slider.slider {
  justify-content: flex-end;
}

.slide {
  position: relative;
  list-style: none;
  margin: 0 32px 0 0;
  transition: all 0.3s ease 0s;
}

.slide_pseudo {
  position: relative;
  list-style: none;
  margin: 0 32px 0 0;
  overflow: visible;
}

.slide:last-child {
  margin-right: 0;
}

.hero-slider__img {
  width: 90vw;
}

@media (min-width: 992px) {
  .hero-slider__body {
    flex-direction: row;
  }
  .hero-slider__content {
    flex: 0 0 var(--left-bar-width);
    margin-top: 16px;
    margin-bottom: 80px;
    padding: 60px; 
  }
  .hero-slider__title {
    font-size: 56px;
  }
  .hero-slider__text {
    font-size: 20px;
  }
  .hero-slider__button {
    font-size: 20px;
  }
  .slider__controls {
    background-color: transparent;
  }
  .page__main-slider {
    padding: 125px 0 0 0;
  }
  .hero-slider__wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .hero-slider__img {
    width: auto;
    height: 100%;
  }
  .product-card {
    padding: 24px;
    bottom: 40px;
    right: 40px;
    min-width: 294px;
  }
  .product__title {
    font-size: 28px;
  }
  .product__desc {
    font-size: 16px;
  }
  .product__price {
    font-size: 20px;
  }
}

.product-card {
  backdrop-filter: blur(31px);background-color: rgba(255, 255, 255, 0.72);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 15px;
  display: none;
}

.hero-slider .slide_active .product-card {
  display: block;
  transition: all 1s ease-in 1s;
}
  
.product__title {
  font-size: 22px;
  font-weight: 600;
  color: var(--gray-1);
  margin: 0 0 8px 0;
  line-height: 1.5em;
}

.product__desc {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-2);
  margin: 0 0 8px 0;
  line-height: 1.5em;
}

.product__price {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-1);
  margin: 0;
  line-height: 1.5em;
}

.product__link {
  text-decoration: none;
  color: var(--basic-black);
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.product__link:hover {
  color: var(--basic-apricot);
}

.slider__controls {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  height: 96px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.72);
}

.slider__dots {
  display: flex;
  margin-left: 32px;
}

.hero-slider__arrows {
  min-width: 104px;
}

.slider-dot {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--gray-5);
  padding: 0;
  border: none;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.slider-dot_active {
  background-color: var(--basic-apricot);
  position: relative;
}

.slider-dot_active::before {
  border: 1px solid var(--basic-apricot);
  border-radius: 50%;
  width: 27px;
  height: 27px;
  box-sizing: border-box;
  position: absolute;
  content: "";
  top: -8px;
  left: -8px;
}

.slider-arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
  transform: rotate(-90deg);
  font-size: 14px;
  padding-top: 5px;
  border: 1px solid var(--basic-apricot);
}

.hero-slider > .slider-arrow {
  opacity: 0.7;
}

.arrow-prev{
  transform: rotate(90deg);
}

/* ---Advantages----*/
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.section {
  margin-top: 88px;
}

.advantage {
  flex: 1 1 30%;
  list-style: none;
  padding: 16px 0 16px 86px;
  background-repeat: no-repeat;
  background-position: 22px 50%;
  align-items: center;
  margin-right: 20px;
}

.advantage:nth-child(1) {
  background-image: url("/img/advantages/01.svg");
}

.advantage:nth-child(2) {
  background-image: url("/img/advantages/02.svg");
}

.advantage:nth-child(3) {
  background-image: url("/img/advantages/03.svg");
}

.advantage:nth-child(4) {
  background-image: url("/img/advantages/04.svg");
}

.advantage__title {
  color: var(--gray-1);
  font-weight: 18;
  line-height: 1.5em;
  font-weight: 600;
  margin: 0 0 2px 0;
  padding: 0;
  text-transform: capitalize;
}

.advantage__desc{
  padding: 0;
  margin: 0;
  color: var(--gray-3);
  line-height: 1.5em;
  font-weight: 500;
}

@media (min-width: 992px) {
  .advantage {
    max-width: 280px;
  }
}

/* Catalog*/
.heading {
  font-size: 40px;
  line-height: 1.2em;
  display: flex;
  align-content: center;
  justify-content: center;
  color: var(--gray-1);
  margin: 0 0 32px 0;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.product {
  list-style: none;
  padding: 0;
  width: 45%;
  position: relative;
  background-color: var(--gray-6);
  margin: 0 0 32px 0;
}

.product__img {
  object-fit: cover;
  width: 100%;
}

.product__text {
  margin: 16px;
}

.product__title {
  color: var(--gray-1);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2em;
  margin: 0 0 8px 0;
}

.product__desc {
  color: var(--gray-3);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0 0 8px 0;
}

.product__layout {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray-1);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.product:hover > .product__btns {
  opacity: 1;
}

.product:hover > .product__layout {
  opacity: 0.72;
}

.product__price {
  font-size: 20px;
  line-height: 1.5em;
  margin: 0 16px 0 0;
  display: inline-block;
}

.product__price_old {
  text-decoration: line-through;
  color: var(--gray-4);
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 500;
  margin: 0;
  display: inline-block;
}

.label {
  position: absolute;
  display: block;
  top: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 500;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label_sale {
  background-color: var(--accent-pink);
  color: var(--basic-white);
}

.label_new {
  background-color: var(--accent-blue);
  color: var(--basic-white);
}

.product__btns {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.product__btns, .product__layout {
  transition: all 0.1s ease-in;
}

.product__btns > .btn_white {
  width: 202px;
}

.page__catalog > .btn_white {
  width: 248px;
  border: 1px solid var(--basic-apricot);
  margin: 0 auto;
  text-transform: capitalize;
}

.btn_share, .btn_fvrt {
  display: inline-flex;
  color: var(--basic-white);
}

.btn_share:hover, 
.btn_fvrt:hover, 
.btn_share:hover>.btn__text,
.btn_fvrt:hover>.btn__text {
  color: var(--basic-apricot);
}

.btn__text {
  color: var(--basic-white);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Gilroy", "Calirbi", sans-serif;
  margin: 0 0 0 8px;
}

@media (min-width: 992px) {
  .page__heading {
    font-size: 36px;
    text-align: center;
  }

  .product {
    max-width: 285px;
    min-height: 446px;
  }
}
/* Inspiration*/
.page__inspiration {
  background-color: var(--bg-gray);
  margin-top: 44px;
  padding: 44px 0 44px 0;
  overflow: hidden;
}

.rooms-slider {
  overflow: visible;
  flex-grow: 1;
  position: relative;
  clip-path: inset( -100vw -100vw -100vw 0 );
}

.rooms__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.rooms__header {
  padding: 20px 0px 20px 0;
  box-sizing: border-box;
  z-index: 2;
  background-color: var(--bg-gray);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.rooms__heading {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
}

.rooms__text {
  margin: 0 0 24px 0;
  line-height: 1.5;
}

.rooms__header .btn {
  text-transform: capitalize;
  width: 176px;
  align-self: center;
}

.room {
  list-style: none;
  position: relative;
  margin: 0 24px 0 0;
  flex-shrink: 0;
  height: 33vw;
  width: 25vw;
  display: block;
  overflow: hidden;
}

.room.slide_active {
  height: 40vw;
  width: 30vw;
}

.room__img {
  width: 100%;
  object-fit: contain;
}

.room__text {
  padding: 20px;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(3px);
  max-width: 90%;
  color: var(--gray-2);
  box-sizing: border-box;
}

.room__content {
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  max-width: 90%;
  display: none;
}

.room__content > .btn {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  align-self: flex-end;
}

.room.slide_active > .room__content {
  display: flex;
}

.room__number {
  position: relative;
  display: inline-flex;
}

.room__number::after {
  content: "";
  display: block;
  width: 27px;
  height: 1px;
  margin: 0.5em 8px 0 8px;
  background-color: var(--gray-2);
}

.room__name {
  display: inline-flex;
  margin: 0;
}

.room__description {
  color: var(--gray-1);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  margin: 8px 0 0 0;
}

.rooms-slider > .slider-arrow.arrow-next {
  position: absolute;
  bottom: 50%;
  left: 45vw;
}

.rooms-slider > .slider-arrow.arrow-prev {
  position: absolute;
  bottom: 50%;
  left: 5px;
}

.rooms-slider__dots {
  position: absolute;
  bottom: 20px;
  left: 42vw;
  display: flex;
}

@media (min-width: 992px) {
  .rooms__header {
    flex: 0 0 var(--left-bar-width);
    align-items: flex-start;
    padding-right: 90px;
  }

  .rooms {
    display: flex;
  }

  .room__text {
    padding: 32px;
  }

  .room__description {
    font-size: 28px;
  }

  .rooms-slider > .slider-arrow.arrow-next {
    left: 45vw;
  }
}

.rooms-slider .slider-arrow{
  opacity: 1;
  position: absolute;
  right: 20px;
  top: 50%;
}

/* Tips & Tricks*/
.page__tips {
  margin-top: 44px;
}

.tips-slider {
  position: relative;
  max-width: 1240px;
  overflow: hidden;
  padding-bottom: 40px;
}

.tip__title {
  margin: 16px 16px 8px 16px;
}

.tip {
  max-width: 391px;
}

.article {
  text-decoration: none;
  color: var(--gray-1);
}

.tip__date {
  margin: 0 16px 8px 16px;
}

.tips-slider__list {
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 20px;
  padding-left: 35%;
}

.tips-slider .slide_active {
  box-shadow: 0px 0px 20px 2px rgba(34, 60, 80, 0.2);
}

.tips-slider  .slider__arrows {
  position: absolute;
  top: 30%;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 2;
}

.tips-slider > .slider__dots {
  position: absolute;
  bottom: 10px;
  left: 45%;
}

/*Gallery*/

.page__share.gallery {
  margin-top: 44px;
}

.gallery__text {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  color:var(--gray-2);
  font-weight: 600;
}

.gallery__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin: 8px;
}

.gallery__items {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  gap: 16px;
  align-items: center;
}

.gallery__body {
  overflow: hidden;
}

@media (any-hover: none) {
  .gallery__body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (any-hover: hover) {
  .gallery__items {
    justify-content: center;
  }
}

.gallery__col {
  margin: 0;
  padding: 0;
}

.gallery__col_center {
  display: flex;
  justify-content: center;
}

.gallery__col:first-child .gallery__row {
  justify-content: flex-end;
}

.gallery__col:last-child .gallery__row{
  justify-content: flex-start;
}

.gallery__row {
  display: flex;
  padding: 0;
}

.gallery__row_top {
  align-items: flex-end;
}

.gallery__row_btm {
  align-items: flex-start;
}

.gallery__item {
  list-style: none;
  margin: 8px;
  padding: 0;
}

.gallery__link {
  display: block;
}

.gallery__pic {
  display: block;
  filter: grayscale(1);
  transition: all .5s ease;
}

.gallery__pic:hover {
  filter: none;
}


/* Icons*/
[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
._icon-arrow-down:before {
  content: "\e900";
}
._icon-arrow-link:before {
  content: "\e901";
}
._icon-cart:before {
  content: "\e902";
}
._icon-favorite:before {
  content: "\e903";
}
._icon-location:before {
  content: "\e904";
}
._icon-phone:before {
  content: "\e905";
}
._icon-search:before {
  content: "\e906";
}
._icon-send:before {
  content: "\e907";
}
._icon-share:before {
  content: "\e908";
}